body{
	padding-top: 60px;
	background: url(../img/surface-wood-chipboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html { 
  
}

@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';